
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 20px; */
}

button{
    border: none;
    border-radius: 15px;
}

header{
    background-color: #13407a;
    padding-top: 1rem;
    padding-bottom: 4px;
}

header nav {
    margin-bottom: 1rem;
}

header nav .container {
    display: flex;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    background-color: black;
    padding-top: 6px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;

}

.bg-yellow {

}

.bg-grey {
    background-color: #d3d3d3;
}

.nav-links,
.nav-logo,
.nav-login {
    padding: 0.5rem;
}

.nav-logo,
.nav-login {
    min-width: 150px;
}

.nav-links {
    flex-grow: 1;
    color: #ffffff;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    display: inline-block;
    padding: 0 0.3rem;
    text-decoration: none;
    color: black;
}

.nav-login {
    text-align: right;
}

.sheet {
    background-color: #00008b;
    padding: 2rem 0;
    background-image: url(img/jumbo.png);
    color: aliceblue;
}

.color-list {
    color: #00008b;
}

.sheet .container {
    max-width: 680px;
    min-height: 300px;
}

a {
    text-decoration: none;
}

.row {
    display: flex; 
    justify-content: center;   

}

.tabella {
    background-color: #000000; 
    color: #ffffff;
}

.col-large,
.col-small {
    min-height: 300px;
}

.col-large {
    width: 70%;
}

.col-small {
    width: 30%;   
}

.box-green {
    min-height: 500px;
}

footer .col {
    flex-grow: 1;
    min-height: 300px;
}

footer .col-large {
    width: 15%;
    border-color: black;
}

footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.secondary-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo,
.footer-btn {
    border: 1px dashed black;
    padding: 0.5rem;
}